@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .navbar-button {
    @apply text-base 
  }
  .bg {
    @apply min-h-screen h-auto bg-gray-100
  }
  .oldBgColor {
    transition: all 0.5s;
    @apply bg-gray-900 border-b-0 border-gray-800 bg-opacity-60 text-gray-400
  }
  .newBgColor {
    transition: all 0.5s;
    @apply bg-white border-b-2 border-gray-200 text-gray-600
  }
  .menuLink {
    @apply block px-4 py-2
  }
  .hero {
    min-height: 450px;
    max-height: 900px;
    height: 65vh;
    @apply bg-gray-900 pt-80 text-center text-white
  }
}
